
.icon-search:before { content: '\e800'; } /* '' */
.icon-cog-outline:before { content: '\e801'; } /* '' */
.icon-wallet:before { content: '\e802'; } /* '' */
.icon-gauge:before { content: '\e803'; } /* '' */
.icon-switch:before { content: '\e804'; } /* '' */
.icon-bell:before { content: '\e805'; } /* '' */
.icon-gift:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
